/*
//
//  JPConverter.css
//
//  Created by zzyong on 2020/03/20.
//  Copyright © 2020 zzyong. All rights reserved.
//
*/

body {
    margin: 0;
    background-color: white;
}

.jp_code_textarea {
    display: inline-block;
}

.jp_code_container {
    text-align: center;
    align-content: center;
}

.jp_code_textview {
    margin: 10px;
    border: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 300px;
    width: 40%;
}

.converter_btn {
    margin-top: 20px;
    background-color: rgb(66, 157, 209);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    left: 50%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}